# Loại trừ các file/thư mục không cần thiết khi build Docker image
bin/
obj/
out/
*.user
*.suo
.vs/
.vscode/
.idea/
*.swp
.DS_Store
node_modules/
*.log
*.tmp
.git/
.github/
.dockerignore
docker-compose.yml
docker-compose.*.yml
README.md